---
http_interactions:
- request:
    method: post
    uri: https://api.zoom.us/v2/groups/eW5tZnbETTa7DGX7bjRB_g/members
    body:
      encoding: UTF-8
      string: '{"members":[{"email":"api_only+4@itdaa.net"}]}'
    headers:
      authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJKRmNUYWF3UVEyV2FGRlQwT1ZYM0dRIiwiZXhwIjoxNTg3NjQ0NzQ3fQ.73dvTbuaYHM76OnEgm9uhAnheKDtUrBJ45NV7jKWcR0
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-zm-trackingid:
      - WEB_15840847c9b2d77ea410b9bb21e040d5
    body:
      encoding: UTF-8
      string: '{"ids":"","added_at":"2020-04-23T08:25:48Z"}'
  recorded_at: Thu, 23 Apr 2020 08:25:48 GMT
recorded_with: VCR 5.1.0
