---
http_interactions:
- request:
    method: get
    uri: https://api.zoom.us/v2/groups
    body:
      encoding: UTF-8
      string: ''
    headers:
      authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJKRmNUYWF3UVEyV2FGRlQwT1ZYM0dRIiwiZXhwIjoxNTg3NjQ1MzkzfQ.2ijJGHggoICbYef-lnrgqxwltnhcgEGivA5KsTYhBJg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-zm-trackingid:
      - WEB_12f4d17f91b63deeb8b650f3fbc2178a
    body:
      encoding: UTF-8
      string: '{"total_records":1,"groups":[{"id":"eW5tZnbETTa7DGX7bjRB_g","name":"api_only","total_members":1}]}'
  recorded_at: Thu, 23 Apr 2020 08:36:34 GMT
recorded_with: VCR 5.1.0
