---
http_interactions:
- request:
    method: get
    uri: https://api.zoom.us/v2/users/develop+test@itdaa.net
    body:
      encoding: UTF-8
      string: ''
    headers:
      authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJKRmNUYWF3UVEyV2FGRlQwT1ZYM0dRIiwiZXhwIjoxNTg3MDQ3OTQ4fQ.LjBQZFYdO0S2lIkNBCXS4lbSbdQeqD7A_vbYJi8C-nQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-zm-trackingid:
      - WEB_6645f96b5ff2854c0709626fb3ca40cb
      content-disposition:
      - inline;filename=f.txt
    body:
      encoding: UTF-8
      string: '{"id":"lmblGIz9S9WpaJNnEwIh7g","first_name":"api","last_name":"test","email":"develop+test@itdaa.net","type":1,"role_name":"Owner","pmi":3186349069,"use_pmi":false,"personal_meeting_url":"https://zoom.us/j/3186349069","timezone":"Asia/Seoul","verified":1,"dept":"","created_at":"2020-02-17T15:06:29Z","last_login_time":"2020-04-14T08:24:24Z","host_key":"482146","jid":"lmblgiz9s9wpajnnewih7g@xmpp.zoom.us","group_ids":[],"im_group_ids":[],"account_id":"_qAH0nHKRM60DaAzQ-9OHg","language":"ko-KO","phone_country":"","phone_number":"","status":"active"}'
  recorded_at: Thu, 16 Apr 2020 10:39:09 GMT
recorded_with: VCR 5.1.0
