---
http_interactions:
- request:
    method: get
    uri: https://api.zoom.us/v2/users?page=30&page_number=1&status=active
    body:
      encoding: UTF-8
      string: page=30&page_number=1&status=active
    headers:
      authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJKRmNUYWF3UVEyV2FGRlQwT1ZYM0dRIiwiZXhwIjoxNTgxOTY5ODgxfQ.tEtUlwxw4_tqmFgju-wHv02JGH6wvASDrrqH6d8KtQE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-zm-trackingid:
      - WEB_9fefeeb4664db2dc06935ae6a9797bec
    body:
      encoding: UTF-8
      string: '{"page_count":1,"page_number":1,"page_size":30,"total_records":1,"users":[{"id":"lmblGIz9S9WpaJNnEwIh7g","first_name":"test","last_name":"itdaa","email":"develop+test@itdaa.net","type":1,"pmi":3186349069,"timezone":"Asia/Seoul","verified":1,"created_at":"2020-02-17T15:06:29Z","last_login_time":"2020-02-17T15:06:29Z","language":"ko-KO","phone_number":"","status":"active"}]}'
  recorded_at: Mon, 17 Feb 2020 16:04:42 GMT
recorded_with: VCR 5.1.0
