---
http_interactions:
- request:
    method: get
    uri: https://api.zoom.us/v2/users?page=30&page_number=1&status=active
    body:
      encoding: UTF-8
      string: page=30&page_number=1&status=active
    headers:
      authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJKRmNUYWF3UVEyV2FGRlQwT1ZYM0dRIiwiZXhwIjoxNTg3MDQ3OTQ5fQ.gViBwZ-45cu6-D3ZM42YxaAnxXX4nFLwhiX31x3FOzM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-zm-trackingid:
      - WEB_2245a96ba9f2ad0ace9e47f3924ec92b
    body:
      encoding: UTF-8
      string: '{"page_count":1,"page_number":1,"page_size":30,"total_records":1,"users":[{"id":"lmblGIz9S9WpaJNnEwIh7g","first_name":"api","last_name":"test","email":"develop+test@itdaa.net","type":1,"pmi":3186349069,"timezone":"Asia/Seoul","verified":1,"created_at":"2020-02-17T15:06:29Z","last_login_time":"2020-04-14T08:24:24Z","language":"ko-KO","phone_number":"","status":"active"}]}'
  recorded_at: Thu, 16 Apr 2020 10:39:11 GMT
recorded_with: VCR 5.1.0
